<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">Algorithmen Test</a> <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item m-1">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Zusammenfassung
                    </NavLink>
                </li>
                <li class="nav-item m-1">
                    <NavLink class="nav-link" href="/metrics">
                        <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Metriken
                    </NavLink>
                </li>
                <li class="nav-item m-1">
                    <NavLink class="nav-link" href="/assignments">
                        <span class="bi bi-diagram-3-fill" aria-hidden="true"></span> Zuteilungen
                    </NavLink>
                </li>
                <li class="nav-item m-1">
                    <NavLink class="nav-link" href="/assignments/create">
                        <span class="bi bi-shuffle" aria-hidden="true"></span> Zuteilung ausprobieren
                    </NavLink>
                </li>
            </ul>
            <span><a href="https://github.com/DStrohbach" target="_blank">Dennis Strohbach</a>, 2025</span>
        </div>
    </div>
</nav>